<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="title"><title>Información</title></%block>

<section class="container about">
  <nav>
    <a href="${reverse('about_edx')}" class="active">Información</a>
    <a href="${reverse('faq_edx')}">FAQ</a>
    <a href="${reverse('contact')}">Contacto</a>
  </nav>

  <section class="vision">
    ## <div class="our-mission">
    ##   <div class="logo">
    ##     <img src="${static.url('images/edx-logo-large-bw.png')}">
    ##   </div>
    ##   <h2 class="mission-quote">&ldquo;The mission of <span class="edx">edX</span> is to enhance human fulfillment worldwide through online ## learning, transforming education in quality, efficiency and scale through technology and research, for the benefit of campus-based ## students and the worldwide community of online learners.&rdquo;</h2>
    ## </div>

    <section class="message left">
      <div class="photo">
        <img src="${static.url('images/about_1.jpg')}">
      </div>
      <article>
        <h2>Acerca de los MOOC y el conocimiento abierto</h2>
			<p>Los MOOC (Massive Open Online Course) son cursos en línea abiertos y masivos, es decir, cursos de acceso abierto que se realizan a través del web y están enfocados a la participación interactiva a gran escala. Son un desarrollo reciente de la educación a distancia, fundado sobre años de investigación y experimentación en elearning. Además de materiales de estudio escritos, gráficos o vídeos, incluyen típicamente foros de debate y otros mecanismos que contribuyen a crear comunidades de aprendizaje.</p>
			<p>Los <a href="http://www.uji.es/uji/norm/estatuts/">estatutos</a> de la Universitat Jaume I recogen, en su disposición adicional séptima, el fomento de la libre difusión del conocimiento creado por la comunidad universitaria. Desde 2006, la Universitat Jaume I ha promocionado la creación de materiales libres de calidad contrastada que se puedan usar en sus clases oficiales y, al mismo tiempo, puedan ser reutilizados por cualquier persona en cualquier parte del mundo. Cabe destacar, entre otras iniciativas, la colección <a href="http://sapientia.uji.es">Sapientia</a> y el portal <a href="http://ocw.uji.es">OpenCourseWare</a>. En 2013, la Universitat Jaume I abrió una <a href="http://www.uji.es/perfils/pdipas/pdi/moocs/conv1314/">convocatoria</a> dirigida a su profesorado para estimular la producción de MOOC.</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left">
      <div class="photo">
        <img src="${static.url('images/university/harvard/about-harvard.jpg')}">
      </div>
      <article>
        <h2>Acerca de la Universitat Jaume I</h2>
			<p>La <a href="http://www.uji.es">Universitat Jaume I de Castellón</a> (UJI) es la universidad pública del norte de la Comunidad Valenciana, un territorio de la costa mediterránea europea situado entre las metrópolis de Valencia y Barcelona. Creada en el año 1991, la UJI se ha posicionado como una universidad de proximidad caracterizada por el trato personalizado, la agilidad de los procedimientos administrativos y un significativo nivel de participación de sus miembros en la vida universitaria, gracias entre otros factores a una población de cómodas dimensiones -con unos 15.000 estudiantes- y un campus integrado, de instalaciones modernas, funcionales y sostenibles.</p>
      </article>
      <hr class="fade-left-hr-divider">
    </section>

    <section class="message left">
      <div class="photo">
        <img src="${static.url('images/edx-logo-large-color.png')}">
      </div>
      <article>
        <h2>Acerca de edX</h2>
        	<p>La Universitat Jaume I utiliza en sus MOOC la plataforma de código abierto <a href="http://code.edx.org">edX</a>, creada por el Massachusetts Institute of Technology (MIT) y la Harvard University. La primera versión pública del código fuente de edX es de junio de 2013, por lo que se debe entender que se trata de software en fase de pruebas y es posible que presente algunos errores o problemas.</p>
      </article>
    </section>

    <section class="partners">
    </section>
  </section>
</section>
