<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="title"><title>Contacto</title></%block>

<section class="container about">
  <nav>
    <a href="${reverse('about_edx')}">Información</a>
    <a href="${reverse('faq_edx')}">FAQ</a>
    <a href="${reverse('contact')}" class="active">Contacto</a>
  </nav>

  <section class="contact">
    <div class="photo">
      <img src="${static.url('images/contact-page.jpg')}">
    </div>
    <div class="contacts">
      <h2>Cuestiones relativas a los cursos</h2>
      <p>Si está inscrito en un curso y tiene algún comentario o sugerencia al respecto, puede enviarlo a los foros de debate de dicho curso.</p>

      <h2>Cuestiones técnicas o información en general</h2>
      <p>Para problemas técnicos (acceso a la plataforma, contraseñas, etc.) o información general sobre los MOOC de la Universitat Jaume I, puede enviar correo a <a href="mailto:mooc@uji.es">mooc@uji.es</a>. También puede consultar la página de <a href="${reverse('about_edx')}">información</a> o el <a href="${reverse('faq_edx')}">FAQ</a>.</p>

    </div>
  </section>
</section>
