<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>Derechos de autor y licencias</title></%block>

<section class="static-container copyright">
  <h1>Derechos de autor y licencias</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <h2>Materiales de estudio creados por el profesorado</h2>
    <p>Los materiales de estudio (vídeos, textos, ejercicios) creados por el profesorado para los MOOC de la Universitat Jaume I, son propiedad de sus autores y se publican con una licencia de Creative Commons que garantiza que pueden ser usados por cualquiera, para lo que quiera, pero con la obligación de indicar siempre quién es el autor original de dichos materiales. Esto significa, por ejemplo, que otras personas pueden utilizar en sus propios apuntes una imagen o cualquier material que forma parte de un MOOC de la Universitat Jaume I, pero están obligados a citar a los autores de esos materiales.</p>
    <p>La Universitat Jaume I aconseja a su profesorado el uso de la licencia de Creative Commons [BY-SA](http://creativecommons.org/licenses/by-sa/3.0/es/) (Reconocimiento-CompartirIgual). Si no se indica expresamente otra, se debe entender que los materiales se publican con esta licencia.</p>
    <h2>Contenidos generados por los estudiantes</h2>
    <p>Los contenidos generados por los estudiantes en un MOOC de la Universitat Jaume I son propiedad de sus autores. Salvo que se indique expresamente otra cosa, se debe entender que los autores se reservan todos sus derechos.</p>
  </div>
</section>
