<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="title"><title>FAQ</title></%block>

<section class="container about">
  <nav>
    <a href="${reverse('about_edx')}">Información</a>
    <a href="${reverse('faq_edx')}" class="active">FAQ</a>
    <a href="${reverse('contact')}">Contacto</a>
  </nav>

  <section class="faq">
    <section class="responses">

      <section id="students" class="category">
        <h2>Preguntas frecuentes</h2>
        <article class="response">
          <h3>¿Quién puede realizar un MOOC de la Universitat Jaume I? ¿Hay un proceso de admisión?</h3>
          <p>Cualquier persona puede realizar un MOOC de la Universitat Jaume I, sin ningún tipo de restricción por edad, nivel de estudios, etc. Sólo se requiere disponer de acceso a Internet y no existe ningún proceso de admisión.</p>
        </article>
        <article class="response">
          <h3>¿Cuánto cuestan los cursos? ¿Son gratuitos?</h3>
          <p>Los MOOC de la Universitat Jaume I son totalmente gratuitos para todo el mundo.</p>
        </article>
        <article class="response">
          <h3>¿Se emiten certificados?</h3>
          <p>Por el momento no se emitirán certificados oficiales de realización de los MOOC de la Universitat Jaume I. La plataforma emite una certificación automatizada (sin validez legal) a aquellos alumnos que han realizado un porcentaje de las actividades de un curso y han superado las pruebas del mismo.</p>
        </article>
        <article class="response">
          <h3>¿Cómo me puedo inscribir en un MOOC de la Universitat Jaume I?</h3>
          <p>Basta con crear una cuenta en este web y luego apuntarse en el curso de su elección. Siga las instrucciones en la página de registro.</p>
        </article>
      </section>

    </section>

  </section>
</section>

%if user.is_authenticated():
<%include file="../signup_modal.html" />
%endif
