<%inherit file="../main.html" />

<%! from django.core.urlresolvers import reverse %>

<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>Honor Code</title></%block>

<section class="static-container honor-code">
  <h1>Pautas de comportamiento</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <p>Al inscribirme en un curso de este web, acepto cumplir las condiciones siguientes:</p>
    <ul>
      <li>Completar por mí mismo todos los ejercicios de evaluación y exámenes finales. No enviaré trabajos realizados por otras personas.</li>
      <li>Mantener una sola cuenta de usuario y no permitir que nadie más conozca mi contraseña y/o utilice mi cuenta de usuario.</li>
      <li>No emprender ninguna acción que mejore mis resultados de manera fraudulenta, o mejore o empeore los resultados de otros.</li>
      <li>No publicar respuestas a problemas que se estén usando para evaluar el rendimiento de los estudiantes.</li>
    </ul>
    <p>Siempre que no indique lo contrario el profesorado de un curso, se anima a los estudiantes a:</p>
    <ul>
      <li>Colaborar con los demás en las tareas, ejercicios, laboratorios y vídeos.</li>
      <li>Debatir con los demás acerca de los conceptos generales y los materiales de cada curso.</li>
      <li>Compartir con sus compañeros ideas y trabajos escritos para abrirlos a la crítica y al debate.</li>
    </ul>
  </div>
</section>
