.home>header .title>hgroup h1 {
	font-size: 1.75em;
}

.home>header .title>hgroup h2 {
	text-transform: none;
}

section.home a.media {
	display: none;
}

div.hero {
	display: none;
}

section.highlighted-courses h2 {
	display: none;
}

section.university-partners {
	display: none;	
}

section.more-info {
	display: none;
}

div.references {
	display: none;
}

div.colophon-about {
	display: none;
}

.nav-colophon-02 {
	display: none;
}

.nav-colophon-03 {
	display: none;
}

.news-carousel {
	display: none;
}

/* Honor code 
div#field-honorcode {
	display: none;
}

label.honor-code {
	display: none;
}
*/

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') !important;
    font-weight: 800;
    font-style: italic;

}
