div.hero {
	display: none;
}

section.highlighted-courses h2 {
	display: none;
}

section.university-partners {
	display: none;	
}

section.more-info {
	display: none;
}

div.references {
	display: none;
}

div.colophon-about {
	display: none;
}

.nav-colophon-02 {
	display: none;
}

.nav-colophon-03 {
	display: none;
}
